<div class="col-md">
  <div class="main">
    <h2 class="text-center">Add Category</h2>
    <form #frmAddCategory="ngForm" (ngSubmit)="onSubmit(frmAddCategory)">
      <div class="form-group">
        <label for="">Name Category</label>
        <input type="text" class="form-control" name="txtName" [(ngModel)]="category.name" #categoryname="ngModel" />
      </div>
      <div class="form-group">
        <label>SubCategory</label>
        <tag-input name="txtSubcategory" [(ngModel)]="category.sub_category" #subcategory="ngModel"
          [identifyBy]="'name'" [displayBy]="'name'">
        </tag-input>
      </div>
      <div class="form-group">
        <button type="submit" class="form-submit btn-block">Add</button>
      </div>
    </form>
  </div>
</div>