/* navDetail */
/* Tùy biến giao diện */
#headerDetail #logoOne{
	display: none;
}
#headerDetail #logoTwo{
	display: block;
	top:-2em;
	width:90px !important;
	height:90px !important;
}
#headerDetail #logoTwo:focus{
	outline: none;
	border: none;
	border-color: 0;
}
#headerDetail #headerBottom-1{
	display: none;
}
#headerBottom-2 .col-md-4 i{
	font-size:1.5em;
	position: absolute;
	left:-3.7em;
	text-shadow:2px 2px 2px white;
	cursor: pointer;
	background: #F1F0F1;
	width: 100%;
	top:-5px;
	padding-top:2.5px;
	padding-bottom:2.5px;
}
#headerBottom-2 .col-md-4 i::after{
	content: ' Danh mục sản phẩm';
	font-size:13px;
}

/* Tùy biến giao diện */

/* row product detail */
.rowProductDetail{
	background:white;
	padding-top:2%;
	padding-bottom:2%;
	margin-bottom: 1em;
}
.rowProductDetail-left .rowTabImgDetail img{
	height:300px;
	width:100%;
}
.rowButtonTabImgDetail button{
	padding:0;
	border:none;
	box-shadow:none;
	background: none;
}
.rowButtonTabImgDetail button:focus{
	outline:none;
	border:none;
	border:3px solid #d42333;
}
.rowButtonTabImgDetail button:hover{
	border:3px solid #d42333;
}
.tabImgDetail_0{
	display: block;
}
.tabImgDetail_1,
.tabImgDetail_2,
.tabImgDetail_3,
.tabImgDetail_4,
.tabImgDetail_5{
	display: none;
}
.descriptionDetailProduct h3, h4{
	font-weight: 600;
	margin: 10px;
}
.rowDetail-1 h2{
	font-size: 22px;
    font-weight: 300;
    color: #333;
    text-shadow:1px 1px 2px #DEDEDE;
    font-family: Roboto,sans-serif;
    line-height: 1.5;
}
.rowDetail-1 p{
	font-family: Roboto,sans-serif;
    line-height: 2.5;
    color: gray;
}
.rowDetail-1 .evaluate span:nth-child(1){
	color:#FFC120;
	font-size:13px;
}
.rowDetail-1 .evaluate span:nth-child(2){
	font-weight:800;
	margin: 1em;
}
.rowDetail-1 .evaluate span:nth-child(2)::after{
	content: '/5';
	color:black;
	font-weight:500;
}
.rowDetail-1 .evaluate span:nth-child(3) button{
	padding: 2px 1em;
	background: #E9E9E9;
	text-transform: uppercase;
	font-size:12px;
}
.rowDetail-2{
	background-image: linear-gradient(-90deg, white, #C40316);
	margin-top:1.5em;
	padding: 0.5em 0;
}
.rowDetail-2 .flash-sale{
	display: flex;
	border:1px solid yellow;
	font-size:1.2em;
	text-align:center;
	text-transform: uppercase;
}
.rowDetail-2 .flash-sale div:nth-child(1){
	background:yellow;
	color:red;
	flex:1;
}
.rowDetail-2 .flash-sale div:nth-child(2){
	flex:3;
	color:white;
	font-weight:600;
}
.rowDetail-2 .meter{
	background-image: linear-gradient(-90deg, red, yellow);
	border-radius:20px;
	font-size:12px;
	padding:2px 3%;
}
.rowDetail-2 .meter i{
	border: 1px solid white;
	padding: 2px;
	border-radius:50%;
	background:white;
	color:red;
}
.rowDetail-2 .meter span{
	text-transform: uppercase;
	margin-left:0.5em;
	color:white;
}
.rowDetail-2 .col-md-5{
	color:red;
	font-weight:800;
	text-align:center;
}
.rowDetail-3{
	margin-top:1em;
	background: url('./../../../../assets/theme/images/product/price-desktop-bg.jpg');
	background:cover;
}
.rowDetail-4 button{
	text-transform: uppercase;
	padding:0.8em 2.5em;
	font-weight:bold;
	border-radius:0;
}
.rowDetail-4 .btn-muaNgay{
	background:#D10A00;
}
.rowDetail-4 .btn-addToCart{
	background:none;
	border: 1px solid #D10A00;
	margin-left:1em;
	color:#D10A00;
}
.rowDetail-4 .btn-chatNgay{
	color:gray;
}
.rowDetail-5{
	margin-top: 1em;
}