<!-- Small boxes (Stat box) -->
<div class="row">
  <div class="col-lg-3 col-6">
    <!-- small box -->
    <div class="small-box bg-info" routerLink="/index">
      <div class="inner">
        <h3>...</h3>
        <p>Home</p>
      </div>
      <div class="icon">
        <i class="ion ion-home"></i>
      </div>
      <a href="" class="small-box-footer"><i class="fas fa-undo-alt"></i> Back home</a>
    </div>
  </div>
  <!-- ./col -->
  <div class="col-lg-3 col-6">
    <!-- small box -->
    <div class="small-box bg-success">
      <div class="inner" *ngIf="qtyProductAc">
        <h3>{{qtyProductAc}}<sup style="font-size: 20px">SP</sup></h3>

        <p>Quantity Products Active</p>
      </div>
      <div class="icon">
        <i class="ion ion-stats-bars"></i>
      </div>
      <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
    </div>
  </div>
  <!-- ./col -->
  <div class="col-lg-3 col-6">
    <!-- small box -->
    <div class="small-box bg-warning">
      <div class="inner">
        <h3>44</h3>

        <p>User Registrations</p>
      </div>
      <div class="icon">
        <i class="ion ion-person-add"></i>
      </div>
      <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
    </div>
  </div>
  <!-- ./col -->
  <div class="col-lg-3 col-6">
    <!-- small box -->
    <div class="small-box bg-danger" [routerLink]="['/admin/add']">
      <div class="inner">
        <h3>...</h3>

        <p>Add Product</p>
      </div>
      <div class="icon">
        <i class="ion ion-plus"></i>
      </div>
      <a class="small-box-footer">Add now... <i class="fas fa-plus"></i></a>
    </div>
  </div>
  <!-- ./col -->
</div>
<!-- /.row -->

<table class="table table-hover text-center">
  <thead>
    <tr>
      <th>ID</th>
      <th>Title</th>
      <th>Images</th>
      <th>Price</th>
      <th>Quantity</th>
      <th>Status</th>
      <th>Active</th>
      <th>Category</th>
      <th>Discount</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of product.docs">
      <td>{{ item.id }}</td>
      <td>{{ item.title }}</td>
      <td>
        <div class="row">
          <div 
            class="thumbnail col-md-4" 
            *ngFor="let items of item.images" 
            (click)="deleteImage(item.id,items)"
          >
              <img class="img-responsive" src="{{ items }}">    
          </div>
        </div>
        <button class="btn">
          <div 
            class="glyphicon glyphicon-plus-sign" 
            (click)="ShowHide(item.id)" 
            data-toggle="modal" 
            href='#modal-id'></div>
        </button>

        <div class="modal fade" id="modal-id">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title" style="font-size:2.5em;">Add Image</h4>
              </div>
              <div class="modal-body">
                <form class="form-inline">
                    <div class="form-group col-md-12" style="padding:0;">
                      <label for="inputPassword2" class="sr-only">URL</label>
                      <input style="width:100%" type="text" class="form-control" placeholder="URL Image" name="UrlImage" [(ngModel)]="dataImage">
                    </div>
                    <button  
                      style="width:100%;margin-top:1em;" 
                      type="submit" 
                      (click)="addImage()" 
                      class="btn btn-primary mb-2"
                    >Add Image
                    </button>
                    <button 
                      type="button" 
                      class="btn btn-danger" 
                      routerLink="/admin/upload" 
                      (click)="goUpdateImage()"
                    >Go Upload Image
                    </button>
                </form>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
      </td>
      <td>{{ item.price }}</td>
      <td>{{ item.quantity }}</td>
      <td>{{ item.status }}</td>
      <td>{{ item.is_active }}</td>
      <td>{{ item.category }}</td>
      <td>{{ item.discount }}</td>
      <td>
        <button 
          type="button" 
          class="btn btn-warning" 
          [routerLink]="['/admin/edit',item.id]" 
          style="width:100%;"
        >Edit
        </button>
        <button 
          type="button" 
          class="btn btn-danger" 
          (click)="onDeactive(item.id)"
          style="width:100%;margin-top:5px;"
        >Deactive
        </button>
      </td>
    </tr>
  </tbody>
</table><!-- list product -->