<div class="bannerSlider tab-content">
    <div id="bannerSlider-1" class="tab-pane fade in active">
      <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#myCarousel" data-slide-to="1"></li>
          <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
          <div class="item active">
            <img src="https://img1.phongvu.vn/media/banner/pv-banner-660x390-b3787.png" alt="Los Angeles">
          </div>

          <div class="item">
            <img src="https://img1.phongvu.vn/media/banner/pv-banner-660x390-b3787.png" alt="Chicago">
          </div>

          <div class="item">
            <img src="https://img1.phongvu.vn/media/banner/pv-banner-660x390-b3787.png" alt="New York">
          </div>
        </div>

        <!-- Left and right controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>

    <div id="bannerSlider-2" class="tab-pane fade">
      <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#myCarousel" data-slide-to="1"></li>
          <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
          <div class="item active">
            <img src="https://img1.phongvu.vn/media/banner/pv-banner-660x390-b3787.png" alt="Los Angeles">
          </div>

          <div class="item">
            <img src="https://img1.phongvu.vn/media/banner/pv-banner-660x390-b3787.png" alt="Chicago">
          </div>

          <div class="item">
            <img src="https://img1.phongvu.vn/media/banner/pv-banner-660x390-b3787.png" alt="New York">
          </div>
        </div>

        <!-- Left and right controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>

    <div id="bannerSlider-3" class="tab-pane fade">
      <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#myCarousel" data-slide-to="1"></li>
          <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
          <div class="item active">
            <img src="https://img1.phongvu.vn/media/banner/pv-banner-660x390-b3787.png" alt="Los Angeles">
          </div>

          <div class="item">
            <img src="https://img1.phongvu.vn/media/banner/pv-banner-660x390-b3787.png" alt="Chicago">
          </div>

          <div class="item">
            <img src="https://img1.phongvu.vn/media/banner/pv-banner-660x390-b3787.png" alt="New York">
          </div>
        </div>

        <!-- Left and right controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>

    <div id="bannerSlider-4" class="tab-pane fade">
      <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#myCarousel" data-slide-to="1"></li>
          <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
          <div class="item active">
            <img src="https://img1.phongvu.vn/media/banner/pv-banner-660x390-b3787.png" alt="Los Angeles">
          </div>

          <div class="item">
            <img src="https://img1.phongvu.vn/media/banner/pv-banner-660x390-b3787.png" alt="Chicago">
          </div>

          <div class="item">
            <img src="https://img1.phongvu.vn/media/banner/pv-banner-660x390-b3787.png" alt="New York">
          </div>
        </div>

        <!-- Left and right controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
    
    <div id="bannerSlider-5" class="tab-pane fade">
      <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#myCarousel" data-slide-to="1"></li>
          <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
          <div class="item active">
            <img src="https://img1.phongvu.vn/media/banner/pv-banner-660x390-b3787.png" alt="Los Angeles">
          </div>

          <div class="item">
            <img src="https://img1.phongvu.vn/media/banner/pv-banner-660x390-b3787.png" alt="Chicago">
          </div>

          <div class="item">
            <img src="https://img1.phongvu.vn/media/banner/pv-banner-660x390-b3787.png" alt="New York">
          </div>
        </div>

        <!-- Left and right controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
  </div>
  <div class="bannerSlider-button">
    <a data-toggle="tab" href="#bannerSlider-1">Phong Vũ - Sales 27/7</a>
    <a data-toggle="tab" href="#bannerSlider-2">Tivi & Thiết bị thông minh</a>
    <a data-toggle="tab" href="#bannerSlider-3">Chương trình từ PVMail</a>
    <a data-toggle="tab" href="#bannerSlider-4">Ưu đãi Hàng cao cấp</a>
    <a data-toggle="tab" href="#bannerSlider-5">PKhuyến mãi hàng cao cấp</a>
  </div>