<div class="rowFour">
  <div 
    class="owl-carousel owl-theme" 
    *ngIf="showProduct !=0; else showListProduct"
  >
    <div 
      class="item" 
      *ngFor="let item of showProduct"
    >
      <div class="rowProduct-box" [routerLink]="['/detail', item.id]">
        <span class="salePersen">-{{ item.discount }}%</span>
        <img src="{{item.images[0]}}" class="img-responsive" alt="Image">
        <p class="nameProduct">{{ item.title | customProduct: 0 : 20 }}</p>
        <p class="price">{{ item.price | currency:' ':'symbol':'2.3-6' }}đ</p>
        <p class="priceOnline">{{ item.price * ((100-item.discount)/100) | currency:' ':'symbol':'2.3-6' }}đ</p>
        <p class="start">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star-half-alt"></i>
        </p>
        <p class="gifts">
          <i class="fas fa-gifts"></i>
        </p>
        <div class="meter">
          <i class="fas fa-carrot"></i>
          <span>Còn lại: {{item.quantity < 2 ? 'Sắp hết' : item.quantity }}</span>
        </div>
      </div>
    </div>
  </div>
  <ng-template #showListProduct>
    <br>
    <h2 style="text-align:center;margin-bottom:1em;">Chưa tìm thấy sản phẩm nào</h2>
  </ng-template>
  
</div>