<div class="main">
  <div class="container-fluid">
    <button type="button" class="btn btn-info col-md-2 pull-right" routerLink="/admin"><i class="fas fa-undo-alt"></i>
      Back admin</button>
    <div class="signup-content">
      <form 
        id="signup-form" 
        class="signup-form" 
        #frmAddProduct="ngForm" 
        (ngSubmit)="onSubmit(frmAddProduct)"
      >
        <h2 class="form-title">ADD PRODUCT</h2>
        <div class="row">
          <div class="col-6 col-sm-6 col-md-6 col-lg-6">
            <div class="form-group">
              <label for="">Title</label>
              <input 
                type="text" 
                class="form-input"
                name="txtTitle" 
                [(ngModel)]="product.title" 
                #title="ngModel"
                required 
              />
              <span class="label label-danger"
                *ngIf="(frmAddProduct.submitted && title.pristine) || (title.touched && title.error?.required)">
                Title is required!!
              </span>
            </div>
            <div class="form-group">
              <label for="">Category</label>
              <select 
                id="my-input" 
                class="custom-select" 
                name="txtCategory" 
                [(ngModel)]="product.category"
                #category="ngModel"
              >
                <option value="Screen" selected>Screen</option>
                <option value="Monitor">Monitor</option>
                <option value="Mouse">Mouse</option>
                <option value="Hard Disk">Hard Disk</option>
                <option value="Mainboard">Mainboard</option>
                <option value="Laptop">Laptop</option>
              </select>
              <span class="label label-danger"
                *ngIf="(frmAddProduct.submitted && title.pristine) || (title.touched && title.error?.required)">
                Category is required!!
              </span>
            </div>
            <div class="form-group">
              <label for="">Status</label>
              <select 
                id="my-input" 
                class="custom-select" 
                name="txtStatus" 
                [(ngModel)]="product.status"
                #status="ngModel"
              >
                <option value="Empty" selected>Empty</option>
                <option value="Pending">Pending</option>
                <option value="Sales">Sales</option>
                <option value="Selling">Selling</option>
              </select>
              <span class="label label-danger"
                *ngIf="(frmAddProduct.submitted && status.pristine) || (status.touched && status.error?.required)">
                Status is required!!
              </span>
            </div>
          </div>
          <div class="col-6 col-sm-6 col-md-6 col-lg-6">
            <div class="form-group">
              <label for="">Price</label>
              <input type="text" class="form-input" name="txtPrice" [(ngModel)]="product.price" #price="ngModel"
                required />
              <span class="label label-danger"
                *ngIf="(frmAddProduct.submitted && title.pristine) || (title.touched && title.error?.required)">
                Price is required!!
              </span>
            </div>
            <div class="form-group">
              <label for="">Quantity</label>
              <input type="text" class="form-input" name="txtQuantity" [(ngModel)]="product.quantity"
                #quantity="ngModel" required />
              <span class="label label-danger"
                *ngIf="(frmAddProduct.submitted && title.pristine) || (title.touched && title.error?.required)">
                Quantity is required!!
              </span>
            </div>
            <div class="form-group">
              <label for="">Discount</label>
                <select id="my-input" class="custom-select"name="txtDiscount" [(ngModel)]="product.discount" #discount="ngModel">
                  <option value="0" selected>0%</option>
                  <option value="5" selected>5%</option>
                  <option value="10">10%</option>
                  <option value="15">15%</option>
                  <option value="20">20%</option>
                  <option value="25">25%</option>
                  <option value="30">30%</option>
                  <option value="35">35%</option>
                  <option value="40">40%</option>
                  <option value="45">45%</option>
                  <option value="50">50%</option>
                  <option value="55">55%</option>
                  <option value="60">60%</option>
                </select>
            </div>
            <div class="form-group">
              <label for="">CreatedAt</label>
              <input type="text" class="form-input" name="day" disabled [(ngModel)]="jstoday">
            </div>
          </div>
          <div class="col-12 col-sm-12 col-md-12 col-lg-12">
            <div class="form-group">
              <button type="submit" class="form-submit btn-block">ADD</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>