<div 
  class="rowFive"
>
<div *ngFor="let item of showProduct | slice:0:5" [routerLink]="['/detail', item.id]">
    <div 
      class="rowProduct-box"
      [ngClass]="{'rowProductBox-active': item.discount >= 50}"
    >
     <img src="{{item.images[0]}}" class="img-responsive" alt="Image">
      <p class="nameProduct">{{ item.title | customProduct: 0 : 20 }}</p>
      <p class="price">{{ item.price | currency:' ':'symbol':'2.3-6' }}đ</p>
      <p class="priceOnline">{{ item.price * ((100-item.discount)/100) | currency:' ':'symbol':'2.3-6' }}đ</p>
      <p class="start">
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star-half-alt"></i>
      </p>
      <p class="gifts">
        <i class="fas fa-gifts"></i>
      </p>
    </div>
  </div>
</div>