<div class="col-md">
  <div class="main">
    <h2 class="text-center">Edit Category</h2>
    <form #frmEditCategory="ngForm" (ngSubmit)="onSubmit(frmEditCategory)">
      <div class="form-group">
        <label for="">Name Category</label>
        <input type="text" class="form-control" name="txtName" [(ngModel)]="category.name" #categoryname="ngModel" />
      </div>
      <div class="form-group">
        <label>SubCategory</label>
        <tag-input name="txtSubcategory" [(ngModel)]="category.sub_category" #subcategory="ngModel"
          [identifyBy]="'name'" [displayBy]="'name'" [editable]="false" [removable]="false"
          [maxItems]="category.sub_category.length-1">
        </tag-input>
        <button type="button" class="btn btn-warning"
          [routerLink]="['/admin/category/subcategory/edit',category._id]">Edit Sub_Category</button>
      </div>
      <div class="form-group">
        <button type="submit" class="form-submit btn-block">Edit</button>
      </div>
    </form>
  </div>
</div>