<div class="col-lg-12 col-md-4 col-sm-4 bannerNavRight-imgOne">
  <img src="./../../../assets/theme/images/product/pv-banner-390x190-80cf8.png" class="img-responsive"
    alt="Image">
</div>
<div class="col-lg-12 col-md-4 col-sm-4 bannerNavRight-imgTwo">
  <img src="./../../../assets/theme/images/product/pv-banner-390x190-9498a.png" class="img-responsive"
    alt="Image">
</div>
<div class="col-lg-12 col-md-4 col-sm-4 bannerNavRight-imgThree">
  <img src="./../../../assets/theme/images/product/pv-banner-390x190-80cf8.png" class="img-responsive"
    alt="Image">
</div>