/*Fix and Format css all theme*/

/*--------------------------------------  Theme ---------------------------------------*/
.rowFour .rowProduct-box{
    margin-top:1em;
    padding:0 1em;
}
.rowFour img{
    min-height:210px;
    max-height: 210px;
}
/*-------------------------------------------  Login  ----------------------------------------- */
.w3l-login-form h2{
    color:white;
    font-weight: 600;
    font-size:3em;
}
/* ------------------------------------------ admin ---------------------------------- */
.text-dark{
    padding:0;
    text-align:left;
}
.breadcrumb-item a{
    text-decoration:none;
    color:#B0C9E6 !important;
}
.small-box{
    cursor: pointer;
    outline: none;
}
button{
    box-shadow:none !important;
    outline: none !important;
}
button:focus{
    box-shadow:none !important;
    outline: none !important;
}