<!-- footer -->
<div id="footer" class="container-fluid">
  <div class="row footer-row-one">
    <div class="container">
      <div class="rowFooter1">
        <div class="col-md-7">
          <img src="./../../../assets/theme/images/footer/Untitled.png" class="img-responsive" alt="Image">
        </div>
        <div class="col-md-5">
          <div class="iconFlyingEmail-ft col-md-3">
            <img src="./../../../assets/theme/images/footer/Send_mail (1).png" class="img-responsive" alt="Image">
          </div>
          <div class="inputFlyingEmail-ft col-md-9">
            <div class="form-group">
              <label>Đăng ký nhận chương trình khuyến mãi mỗi ngày</label>
              <div class="container-fluid">
                <input type="text" class="col-md-9" placeholder="Nhập địa chỉ email của bạn">
                <button class="col-md-3">Đăng ký</button>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row rowFooter2">
      <div class="col-md-7">
        <div class="col-md-4">
          <h4>Hỗ trợ khách hàng</h4>
          <ul>
            <li>Thẻ ưu đãi</li>
            <li>Phiếu mua hàng</li>
            <li>Trung tâm bảo hành</li>
            <li>Thanh toán và giao hàng</li>
            <li>Dịch vị sửa chữa và bảo trì</li>
          </ul>
        </div>
        <div class="col-md-4">
          <h4>Chính sách Mua hàng và Bảo hành</h4>
          <ul>
            <li>Quy định chung</li>
            <li>Chính sách Bảo mật Thông tin</li>
            <li>Chính sách Vận chuyển, Giao nhận</li>
            <li>Chính sách bảo hành</li>
            <li>Quy định giá cả và hình thức thanh toán</li>
          </ul>
        </div>
        <div class="col-md-4">
          <h4>Thông tin Phong Vũ</h4>
          <ul>
            <li>Thông tin liên hệ</li>
            <li>Hệ thống Showroom</li>
            <li>Giới thiệu Phong Vũ</li>
            <li>Hỏi đáp</li>
            <li>Tin công nghệ</li>
            <li>Tuyển dụng</li>
          </ul>
        </div>
      </div>
      <div class="col-md-5">
        <div class="col-md-7">
          <h4>Cộng đồng Phong Vũ</h4>
          <div class="container-fluid iconLK-ft">
            <div class="col-md-2">
              <i class="fab fa-facebook-square"></i>
            </div>
            <div class="col-md-10">
              <span>Phong Vũ Việt Nam</span>
            </div>
          </div>
          <div class="container-fluid iconLK-ft">
            <div class="col-md-2">
              <i class="fab fa-youtube"></i>
            </div>
            <div class="col-md-10">
              <span>Phong Vũ Media</span>
            </div>
          </div>
          <div class="container-fluid iconLK-ft">
            <div class="col-md-2">
              <i class="fas fa-users"></i>
            </div>
            <div class="col-md-10">
              <span>Phong Vũ Hội</span>
            </div>
          </div>
          <div class="container-fluid iconLK-ft">
            <div class="col-md-2">
              <i class="fas fa-phone-square"></i>
            </div>
            <div class="col-md-10">
              <span>Gọi mua hàng: 1800 6867 (miễn phí)</span>
            </div>
          </div>
          <div class="container-fluid iconLK-ft">
            <div class="col-md-2">
              <i class="fas fa-phone-square"></i>
            </div>
            <div class="col-md-10">
              <span>Gọi chăm sóc: 1800 6865 (miễn phí)</span>
            </div>
          </div>
          <div class="container-fluid iconLK-ft">
            <div class="col-md-2">
              <i class="fas fa-phone-square"></i>
            </div>
            <div class="col-md-10">
              <span>Tổng đài(cũ): 1900 1835 (1000đ/phút)</span>
            </div>
          </div>
        </div>
        <div class="col-md-5 da-dang-ky-ft">
          <div class="row">
            <img src="./../../../assets/theme/images/footer/da-dang-ky.png" class="img-responsive" alt="Image">
          </div>
          <div class="row">
            <h5>Hỗ trợ khách hàng:</h5>
            <p>cskh@phongvu.vn</p>
          </div>
          <div class="row">
            <h5>Liên hệ Báo giá:</h5>
            <p>baogia@phongvu.vn</p>
          </div>
          <div class="row">
            <h5>Hợp tác Phát triển:</h5>
            <p>hoptac@phongvu.vn</p>
          </div>
        </div>
      </div>
    </div>

    <div class="row rowFooter3">
      <div class="col-md-3">
        <h4>Phương thức thanh toán</h4>
        <div class="boxIcon-phuongthuc-ft">
          <div>
            <i class="fas fa-qrcode"></i>
            <p>QR Code</p>
          </div>
          <div>
            <i class="fas fa-money-check-alt"></i>
            <p>Tiền mặt</p>
          </div>
          <div>
            <i class="fas fa-file-invoice-dollar"></i>
            <p>Trả góp</p>
          </div>
          <div>
            <i class="fas fa-building"></i>
            <p>Internet Banking</p>
          </div>
        </div>
      </div>
      <div class="col-md-9">
        <img src="./../../../assets/theme/images/footer/banklist.jpg" class="img-responsive" alt="Image">
      </div>
    </div>
  </div>

  <div class="row footer-row-three">
    <div class="container">
      Tivi & Thiết bị thông minh / Tivi - Smart TV / Tivi Asanzo / Tivi khác / Tivi màn hình cong / Tivi 4K UHD / Tivi
      QLED/OLED / Tivi Smart / Internet TV / Tivi LED / Tivi 32 inch / Tivi 40 inch / Tivi 50 inch / Tivi 55 inch / Tivi
      Box / Tivi bán chạy / Thiết bị thông minh / Chăm sóc sức khỏe / An ninh / Camera thông minh / Gia dụng / Máy lọc
      không khí / Máy hút bụi / Bàn chải điện / Ánh sáng / Đèn cảm ứng / Giải trí / Tivi TCL / Tivi Sharp / Tivi LG /
      Tivi LG 32 inch / Tivi LG 43 inch / Tivi LG 49 inch / Tivi LG 55 inch / Tivi Panasonic / Tivi Samsung / Tivi
      Samsung 32 inch / Tivi Samsung 40 inch / Tivi Samsung 49 inch / Tivi Samsung 43 inch / Tivi Samsung 55 inch / Tivi
      Sony / Tivi Sony 32 inch / Tivi Sony 40 inch / Tivi Sony 43 inch / Tivi Sony 49 inch / Tivi Sony 55 inch / Tivi
      Sony 4K / Tivi Toshiba / PC và linh kiện / Linh Kiện Máy Tính / Nguồn - PSU / ACBEL / COOLER MASTER / CORSAIR /
      FSP / GOLDEN FIELD / SEASONIC / RAM / RAM 16GB / RAM G.SKILL / RAM CORSAIR / RAM KINGSTON / RAM KINGMAX / RAM
      ADATA / RAM 4GB / RAM 8GB / RAM DDR4 / RAM DDR3 / Case thùng máy / Case Ximatek / Full Tower / Mid Tower / Case
      CORSAIR / Case SAMA / Case SEGOTEP / Case COOLER MASTER / Case THERMALTAKE / AIGO / Ổ Cứng / Ổ cứng Plextor / Ổ
      cứng Intel Optane / Ổ Cứng HDD / Ổ Cứng SSD / SSD 120GB, 128 GB / SSD 240, 250, 256 GB / SSD 480, 500, 512 GB /
      SSD M.2 / SSD 1TB 2TB / Ổ Cứng Gắn Ngoài / Kết nối Ethernet, Wireless / Phụ Kiện Ổ Cứng / Bo mạch chủ / Main MSI /
      Main ASUS / Main GIGABYTE / ASROCK / CPU - Bộ vi xử lý / CPU Intel / Intel Xeon / CPU AMD / AMD Athlon / Intel
      Pentium / Intel Core i3 / Intel Core i5 / Intel Core i7 / Intel Core i9 / AMD Ryzen 3 / AMD Ryzen 5 / AMD Ryzen 7
      / Card Màn Hình - VGA / Geforce GT 1030 / Geforce GTX 1050 / Geforce GTX 1050, 1050Ti / Geforce GTX 1060 / Geforce
      GTX 1070, 1070Ti / Geforce GTX 1080, 1080Ti / RTX 2080, 2080Ti / RTX 2070, 2070Ti / Card Màn Hình MSI / Card Màn
      Hình ASUS / Card Màn Hình GIGABYTE / Card Màn Hình GALAX / Tản Nhiệt / RGB / Tản Nhiệt Khí / Quạt - Fan Case / Tản
      Nhiệt Nước / Linh Kiện Custom / Ổ Đĩa Quang gắn ngoài / Máy tính đồng bộ / Văn phòng / Thư ký, xử lý dữ liệu /
      Marketing, lập trình / Kế toán, sale online / Thu ngân, lễ tân / Giải trí / Lướt web, Facebook / Game online, game
      nhẹ / Giải trí cao cấp, multimedia / Gaming / LOL / Fortnite, FO4 / PUBG / Đồ họa / Dựng, render video / 3D,
      render mô hình / Đồ họa phổ thông / Máy Tính Bàn Doanh nghiệp / Máy Tính Bàn Nhân Viên / Máy Tính Bàn Quản Lý Cấp
      Cao / Máy Tính Bàn Lắp Sẵn / Máy Tính Bàn Phong Vũ / Máy Tính Bàn Dell / Dell Vostro 3670 MT / Máy Tính Bàn HP /
      Máy Tính Bàn Lenovo / Máy Tính Bàn Asus / Máy Tính Bàn Acer / Máy Tính Bàn iMac / Máy Tính Bàn Gía Rẻ / Máy Tính
      Bàn AIO / Cao cấp, multimedia / Kế toán, sale online / Thu ngân, lễ tân /
    </div>
  </div>

  <div class="row footer-row-four">
    <div class="container">
      <div class="col-md-5 pull-left">
        <h3>Công ty cổ phần thương mại dịch vụ Phong Vũ</h3>
        <p>© 1997 - 2019 Công Ty Cổ Phần Thương Mại - Dịch Vụ Phong Vũ / GPĐKKD số 0304998358 do Sở KHĐT TP.HCM cấp</p>
      </div>
      <div class="col-md-6 pull-right">
        <p>Văn phòng điều hành miền Bắc:</p>
        <p>Văn phòng điều hành miền Nam:</p>
      </div>
    </div>
  </div>

  <!-- scrollTop -->
  <button type="button" class="btn btn-default" id="scrollTop">
    <i class="fas fa-angle-double-up"></i>
  </button>
</div><!-- /footer -->
