<!-- headerDetail -->
<div id="headerDetail">
  <app-header></app-header>
</div><!-- /headerDetail -->

<!-- bannerNav Detail, Cart, Check -->
<div id="bannerNavDC" class="bannerNav-bannerNavOne bannerNavH2">
    <div class="bannerNavH2BG">
      <div class="container container-bannerNavDC">
        <div class="col-lg-2 col-md-3 col-sm-3  bannerNav-left">
            <app-navigation></app-navigation>
        </div>
      </div>
    </div>
</div><!-- /bannerNav Detail, Cart, Check -->

<!-- main -->
<div id="checkOut">
  <div class="container">
    <div class="col-md-12">
      <h2 class="text-center">Checkout</h2>
      <div class="container">
        <form
          autocomplete="off"
          novalidate
          #frmCheckOut="ngForm"
          (ngSubmit)="onSubmitForm(frmCheckOut)"
        >
          <div class="row">
            <div class="col-md-6">
              <h3>Billing Address</h3>
              <label for="fname"><i class="fa fa-user"></i> Full Name</label>
              <input 
                type="text" 
                id="fname" 
                placeholder="John M. Doe"
                name="txtfirstname"
                required="required"
                pattern="^[a-zA-Z]*$"
                minlength="3"
                [(ngModel)]="checkout.name"
                #firstname="ngModel"
              >
              <div class="showError">
                <span 
                  class="label label-danger" 
                  *ngIf="(frmCheckOut.submitted && firstname.pristine) || firstname.dirty && firstname.errors?.required"
                ><i class="fas fa-times"></i> Please enter Frist Name
                </span>
                <span 
                  class="label label-danger" 
                  *ngIf="firstname.dirty && firstname.errors?.minlength"
                ><i class="fas fa-times"></i> First Name at least 3 characters
                </span>
                <span 
                  class="label label-danger" 
                  *ngIf="firstname.dirty && firstname.errors?.pattern"
                ><i class="fas fa-times"></i> First Name wrong format
                </span>
                <span class="label label-success" *ngIf="!firstname.errors">
                    <i class="fas fa-check"></i> Frist Name Invalid
                </span>
              </div>
              
              <label for="email"><i class="fa fa-envelope"></i> Email</label>
              <input 
                type="text" 
                id="email" 
                placeholder="john@example.com"
                name="txtEmail"
                required="required"
                pattern="[a-zA-Z0-9,-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}"
                [(ngModel)]="checkout.email"
                #email="ngModel"
              >
              <div class="showError">
                <span 
                  class="label label-danger" 
                  *ngIf="(frmCheckOut.submitted && email.pristine) || email.dirty && email.errors?.required"
                ><i class="fas fa-times"></i> Please enter Email
                </span>
                <span 
                  class="label label-danger" 
                  *ngIf="email.dirty && email.errors?.pattern"
                ><i class="fas fa-times"></i> Email wrong format vd: abc@gmail.com
                </span>
                <span class="label label-success" *ngIf="!email.errors">
                    <i class="fas fa-check"></i> Email Invalid
                </span>
              </div>

              <label for="adr"><i class="fa fa-address-card-o"></i> Address</label>
              <input 
                type="text" 
                id="adr" 
                placeholder="542 W. 15th Street"
                name="txtAddress"
                required="required"
                minlength="3"
                [(ngModel)]="checkout.address"
                #address="ngModel"
              >
              <div class="showError">
                <span 
                  class="label label-danger" 
                  *ngIf="(frmCheckOut.submitted && address.pristine) || address.dirty && address.errors?.required"
                ><i class="fas fa-times"></i> Please enter Address
                </span>
                <span 
                  class="label label-danger" 
                  *ngIf="address.dirty && address.errors?.minlength"
                ><i class="fas fa-times"></i> Address at least 3 characters
                </span>
                <span class="label label-success" *ngIf="!address.errors">
                    <i class="fas fa-check"></i> Address Invalid
                </span>
              </div>

              <label for="city"><i class="fa fa-institution"></i> Phone</label>
              <input 
                type="text" 
                placeholder="012345678"
                name="txtCity"
                required="required"
                minlength="3"
                [(ngModel)]="checkout.phone"
                #city="ngModel"
              >
              <div class="showError">
                <span 
                  class="label label-danger" 
                  *ngIf="(frmCheckOut.submitted && city.pristine) || city.dirty && city.errors?.required"
                ><i class="fas fa-times"></i> Please enter City
                </span>
                <span 
                  class="label label-danger" 
                  *ngIf="city.dirty && city.errors?.minlength"
                ><i class="fas fa-times"></i> City at least 3 characters
                </span>
                <span class="label label-success" *ngIf="!city.errors">
                    <i class="fas fa-check"></i> City Invalid
                </span>
              </div>

              <div class="container-fuild">
                
                <div class="col-50">
                  <label for="zip">Postcode</label>
                  <input 
                    type="text" 
                    id="zip" 
                    placeholder="10001"
                    name="txtZip"
                    required="required"
                    pattern="[0-9]*"
                    [(ngModel)]="checkout.postcode"
                    #postcode="ngModel"
                  >
                </div>
                <div class="showError">
                  <span 
                    class="label label-danger" 
                    *ngIf="(frmCheckOut.submitted && postcode.pristine) || postcode.dirty && postcode.errors?.required"
                  ><i class="fas fa-times"></i> Please enter Postcode
                  </span>
                  <span 
                    class="label label-danger" 
                    *ngIf="postcode.dirty && postcode.errors?.pattern"
                  ><i class="fas fa-times"></i> Postcode wrong format 1221254545
                  </span>
                  <span class="label label-success" *ngIf="!postcode.errors">
                      <i class="fas fa-check"></i> Postcode Invalid
                  </span>
                </div>
              </div>
            </div>

            <div class="col-md-6">
              <h3>Cart 
                <span class="price pull-right" style="color:rgb(187, 49, 49);text-align:right">
                  <i class="fa fa-shopping-cart"></i> <b>{{totalQtyProduct}}</b>
                </span>
              </h3>
              <table class="table table-bordered table-hover">
                <thead>
                  <tr style="background:rgb(187, 49, 49);color:white;font-weight: 700">
                    <th>Name Product</th>
                    <th>Price</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of listAddToCart">
                    <td>{{ item.productCart.title }}</td>
                    <td>{{ item.productCart.price | currency:' ':'symbol':'2.3-6' }}</td>
                  </tr>
                  <tr>
                      <td align="right">Total</td>
                      <td style="background:rgb(187, 49, 49);color:white;font-weight: 700">{{total | currency:' ':'symbol':'2.3-6' }} Đồng</td>
                    </tr>
                </tbody>
              </table>
              


              <h3>Payment</h3>
              <label for="fname">Accepted Cards</label>
              <div class="icon-container">
                <i class="fab fa-cc-visa" style="color:navy;margin-right:0.2em;font-size:3em;"></i>
                <i class="fab fa-cc-amex" style="color:blue;margin-right:0.2em;font-size:3em;"></i>
                <i class="fab fa-cc-mastercard" style="color:red;margin-right:0.2em;font-size:3em;"></i>
                <i class="fab fa-cc-discover" style="color:orange;font-size:3em;"></i>
              </div>

              <label for="ccnum">Credit card number</label>
              <ngx-stripe-card [options]="cardOptions" [elementsOptions]="elementsOptions"></ngx-stripe-card>

              <label for="description">Description</label>
              <input 
                type="text" 
                id="description"
                name="txtDescription" 
                placeholder="Note..."
                [(ngModel)]="checkout.description"
                #description="ngModel"
              >

            </div>

          </div>
          <label>
            <input 
              type="checkbox" 
              checked="checked" 
              name="txtSameadr"
            > Shipping address same as billing
          </label>
          <input type="submit" value="Continue to checkout" class="btn">
        </form>
      </div>
    </div>

  </div>
</div><!-- /main -->

<div class="clearfix"></div>

<app-footer></app-footer> 